<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="post" action="/home/addcandidate" enctype="multipart/form-data">
          <div class="well">
              <input type="text" name="name" placeholder="Name" class="form-control" />
              <br />
              <input type="text" name="phone" placeholder="Phone Number" class="form-control" />
              <br />
              <input type="text" name="email" placeholder="Email" class="form-control" />
              <br />
              <textarea class="form-control" rows="10" name="notes" placeholder="Add some Notes..."></textarea>
              <br />
              <button class="btn btn-primary">Submit</button>
          </div>
      </form>
    </div>
</div>